@import '../../assets/stylesheets/fonts.scss';

.header-container {
	background-color: #5fc5ff;
  font-size: 30px;
  height: 90px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  font-family: $global-font;
  z-index: 1;

  ::ng-deep .mat-icon-button {
    height: 50px !important;
    width: 50px !important;

    ::ng-deep .material-icons {
      font-size: 30px;
    }
  }

  .left-action-div {
    display: flex;
    flex-direction: row;
    width: 330px;

    .header-icon-button {
      margin-left: 40px;
      margin-top: auto;
      margin-bottom: auto;
    }

  }
}
